html,body{
    background: #f8f9fa;
}
body{
    overflow-x: hidden;
}

.bg-blue, .btn-red{
    /*background: #00548b !important;*/
    background-color: rgb(157, 34, 60);
    background-image: -webkit-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: -moz-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: -o-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    border-bottom: 1px solid rgba(255,255,255,.1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.1);
    color: rgb(255,255,255);
    transition: all .1s ease;
    text-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.btn-red{
	color: rgb(255,255,255) !important;
}
.img-fluid{
    width: 100%;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding-top: 15px;
    background-color: #FFFFFF;
}

@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .row-offcanvas-right {
        right: 0;
    }

    .row-offcanvas-left {
        left: 0;
    }

    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -100%; /* 12 columns */
    }

    .row-offcanvas-right.active
    .sidebar-offcanvas {
        right: -50%; /* 6 columns */
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -100%; /* 12 columns */
    }

    .row-offcanvas-left.active
    .sidebar-offcanvas {
        left: -50%; /* 6 columns */
    }

    .row-offcanvas-right.active {
        right: 50%; /* 6 columns */
    }

    .row-offcanvas-left.active {
        left: 50%; /* 6 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%; /* 6 columns */
    }
    .row{
        margin-left: 0px;
        margin-right: 0px;
    }
}

.footer li a, footer li, footer{
    font-size: 13px;
}

/*
 * Sidebar
 */

.sidebar {
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
  margin-left: 0px;
}

.sidebar .nav-item {
  width: 100%;
  color: #0275d8 !important;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.dropbox{
	min-height: 50px;
    height: auto;
    width: auto;
    border: 1px dotted;;
    margin-top: 23px;
    display: block;
    background: aliceblue;
}
.btn.btn-info.btn-draggable {
    margin: 10px;
}
.navbar.affix{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  background: #fff;
  transition: all .35s ease;
}

#sidebar.affix-top, #sidebar.affix {
  position: static;
}

#sidebar.affix-bottom {
  position: relative;
}

@media (min-width: 768px) {
    #sidebar.affix {
      position: fixed;
      top: 40px;
    }
}
 .thumbnail { height: 280px !important; }
      .btn-droppable { width: 180px; height: 30px; padding-left: 4px; }
      .btn-draggable { width: 160px; }
      
.item.circle{
    margin: 0 auto;
    display: inline-block;
    margin: 15px;
    color: #FFF;
    cursor: pointer;
    background-color: rgb(157, 34, 60);
    background-image: -webkit-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: -moz-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: -o-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    border-bottom: 1px solid rgba(255,255,255,.1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.1);
    color: rgb(255,255,255);
    transition: all .1s ease;
    text-shadow: 0 1px 1px rgba(0,0,0,.1);
    color:#FFF;
    padding: 5px 10px;
}

.dropbox.abc .title.create, .dropbox.abc .fa-plus-circle{
	display: none;
}
.remove-btn{
	border: none;
    background: none;
    margin-top: -19px;
    /* position: absolute; */
    /* margin-left: -25px; */
    margin-right: -10px;
    cursor: pointer;
    float: right;
}
.fa-remove{
	color:#000;
}
.transferMenu{
	margin-left: 19px;
    margin-right: 15px;
    color: #FFF;
    border-radius: 10%;
    padding-left: 10px;
    padding-right: 10px;
}

.transferMenu img{
	width: 100px;
}

.transferMenu p{
    padding-top: 40px;
    color: #FFF;
}

a{
	cursor:pointer;
}
li.uib-tab.nav-item.ng-scope.ng-isolate-scope.active a{
     background: #a9a9a9; 
     color: #FFF !important; 
}

li.uib-tab.nav-item.ng-scope.ng-isolate-scope a{
     background: #bbb; 
     color: #FFF !important;
     border: 1px solid transparent;
     outline: none; 
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:active {
    border-color: transparent !important;
}

.tab-content{
	    border-top: 1px solid #a9a9a9;
	        padding: 20px;
	        background: #a9a9a9;
	        min-height: 215px;
}
li.uib-tab.nav-item.ng-scope.ng-isolate-scope {
    margin-left: 1px;
}

ul:first-child {
    margin-left: 20px;
}

.ui-select-bootstrap > .ui-select-choices, .ui-select-bootstrap > .ui-select-no-choice {
    width: 100%;
    /* height: 50px; */
    max-height: 91px !important;
    overflow-x: hidden;
    margin-top: -1px;
    position: relative;
    display: block;
    background: #eee;
}
.ui-select-match.ng-scope {
    outline: none;
}
.ui-select-container.ui-select-bootstrap.dropdown {
	width: 150px;
    display: inline-block;
    /* height: 30px; */
    }
    
input.ui-select-search {
	height: 28px;
	    width: 150px !important;
}

.ui-select-bootstrap .ui-select-toggle {
    position: relative;
    height: 28px;
    padding-top:3px;
}

.input-xs{
	width: 80px;
    font-size: 12px;
    padding: 7px;
}

.input-s{
	width: 200px;
	font-size: 12px;
    padding: 7px;
}
.logout, .logout:hover{
	    margin-left: 40px;
    color: #FFF;
    font-size: 16px;
    font-style: initial;
    margin-top: 10px;
}
.sidebar a.nav-link.ng-binding {
	position: relative;
    background-color: rgb(255,255,255);
    border-bottom: 1px solid rgba(0,0,0,.05);
    color: #333331;
    display: block;
    font-size: 1.1rem;
    /* padding: 10px 0; */
    text-decoration: none;
    transition: all 0.15s linear;
}
    
.sidebar a.nav-link.ng-binding:hover {
   /*  background: #00548b;
    color: #FFF; */
    background-color: rgb(157, 34, 60);
    background-image: -webkit-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: -moz-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: -o-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    background-image: linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
    border-bottom: 1px solid rgba(255,255,255,.1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.1);
    color: rgb(255,255,255);
    transition: all .1s ease;
    text-shadow: 0 1px 1px rgba(0,0,0,.1);
    color:#FFF;
}
a:hover {
    text-decoration: none;
}
.profile {
    color: #FFF;
}

.profile .nav-tabs .nav-item.show .nav-link, .profile .nav-tabs .nav-link.active {
    color: #FFF;
    background-color: #a9a9a9;
    border-color: #ddd #ddd #a9a9a9;
    font-weight: bold;
}

.profile a.nav-link.ui-draggable {
    color: #000;
    font-weight: bold;
}
ul {
    list-style-type: none;
}
.login a.dropdown-item {
    padding: 3px 10px;
}

.login .dropdown-menu {
    min-width: fit-content;
    left: -27px;
}
.support-menu * {margin: 0;padding: 0;outline: none;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
div.support-menu {margin: 20px auto;width: 350px;}
.support-menu nav.vertical {border-radius: 4px;box-shadow: 0 0 10px rgba(0,0,0,.15);overflow: hidden;text-align: center;}
.support-menu nav.vertical > ul {list-style-type: none;}
.support-menu nav.vertical > ul > li {display: block;}
.support-menu nav.vertical > ul > li > a {background-color: rgb(157, 34, 60);background-image: -webkit-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));background-image: -moz-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));background-image: -o-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));background-image: linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));border-bottom: 1px solid rgba(255,255,255,.1);box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.1);color: rgb(255,255,255);display: block;font-size: .85rem;font-weight: 500;height: 50px;letter-spacing: .5rem;line-height: 50px;text-shadow: 0 1px 1px rgba(0,0,0,.1);text-transform: uppercase;transition: all .1s ease;text-decoration: none;}
.support-menu nav.vertical > ul > li > a:hover {background-color: rgb(114, 51, 98);background-image: -webkit-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));background-image: -moz-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));background-image: -o-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));background-image: linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98)); cursor: pointer;}
.support-menu nav.vertical > ul > li > div {background-color: rgb(255,255,255);}
.support-menu nav.vertical > ul > li > div > ul {list-style-type: none;}
.support-menu nav.vertical > ul > li > div > ul > li > a {background-color: rgb(255,255,255);border-bottom: 1px solid rgba(0,0,0,.05);color: #333331;display: block;font-size: 1.1rem;padding: 10px 0;text-decoration: none;transition: all 0.15s linear;}
.support-menu nav.vertical > ul > li > div > ul > li:hover > a {background-color: lightBlue;color: rgb(255,255,255);padding: 10px 0 10px 50px;}